<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="icon" href="{{if .Edits}}data:;base64,iVBORw0KGgo={{else}}/favicon.ico{{end}}" />
    <title>yambs</title>

    <!-- generic CSS -->
    <style>
      :root {
        --box-radius: 6px;
        --control-radius: 3px;
        --margin: 8px;
        --overlay-bg-color: #0002;
      }
      @media (prefers-color-scheme: dark) {
        :root {
          --bg-color: #222;
          --button-bg-color: #777;
          --button-border-color: #777;
          --button-disabled-bg-color: #444;
          --button-disabled-border-color: #444;
          --button-disabled-text-color: #000;
          --button-hover-bg-color: #888;
          --button-text-color: #000;
          --table-border-color: #555;
          --header-bg-color: #333;
          --link-color: #aaa;
          --text-color: #ccc;
        }
      }
      @media (prefers-color-scheme: light) {
        :root {
          --bg-color: #fff;
          --button-bg-color: #ddd;
          --button-border-color: #bbb;
          --button-disabled-bg-color: #e9e9e9;
          --button-disabled-border-color: #ddd;
          --button-disabled-text-color: #999;
          --button-hover-bg-color: #ccc;
          --button-text-color: #000;
          --table-border-color: #ccc;
          --header-bg-color: #eee;
          --link-color: #444;
          --text-color: #000;
        }
      }

      body {
        background-color: var(--bg-color);
        color: var(--text-color);
        color-scheme: light dark;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
      h1 {
        font-size: 20px;
        margin-bottom: var(--margin);
      }
      h2 {
        font-size: 16px;
        margin-bottom: var(--margin);
      }
      a,
      a:visited {
        color: var(--link-color);
        cursor: pointer;
        text-decoration: underline;
      }
      button {
        background-color: var(--button-bg-color);
        border: solid 1px var(--button-border-color);
        border-radius: var(--control-radius);
        color: var(--button-text-color);
        cursor: pointer;
        padding: 3px 8px;
        user-select: none;
      }
      button:disabled {
        background-color: var(--button-disabled-bg-color);
        border-color: var(--button-disabled-border-color);
        color: var(--button-disabled-text-color);
        cursor: default;
      }
      button:hover:enabled {
        background-color: var(--button-hover-bg-color);
      }

      .section {
        display: none;
      }
      .section.visible {
        display: block;
      }

      .button-row {
        align-items: baseline;
        display: flex;
        gap: var(--margin);
        margin-bottom: var(--margin);
      }

      #edit-table {
        border: solid 1px var(--table-border-color);
        border-collapse: collapse;
        margin-bottom: var(--margin);
      }
      #edit-table th {
        background-color: var(--header-bg-color);
      }
      #edit-table td,
      #edit-table th {
        border: solid 1px var(--table-border-color);
        text-align: left;
      }
      #edit-table th:nth-child(2),
      #edit-table td:nth-child(2) {
        /* This is hacky; table layout is a disaster. */
        max-width: calc(100vw - 100px);
        overflow: hidden;
        padding: 0 var(--margin);
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      #edit-header-checkbox.partial {
        opacity: 0.4;
      }

      #edit-opening-overlay {
        align-items: center;
        backdrop-filter: blur(1px);
        background-color: var(--overlay-bg-color);
        display: none;
        font-size: 20px;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 1;
      }
      #edit-opening-overlay.visible {
        display: flex;
      }
    </style>
    <!-- end generic CSS -->

    {{- if not .Edits}}
    <!-- form CSS -->
    <style>
      @media (prefers-color-scheme: dark) {
        :root {
          --control-border-color: #555;
          --form-error-bg-color: #500;
          --form-error-border-color: #700;
          --form-text-fields-table-bg-color: #333;
        }
      }
      @media (prefers-color-scheme: light) {
        :root {
          --control-border-color: #aaa;
          --form-error-bg-color: #fcc;
          --form-error-border-color: #f99;
          --form-text-fields-table-bg-color: #f5f5f5;
        }
      }

      input[type='text'],
      select,
      textarea {
        background-color: var(--bg-color);
        border: solid 1px var(--control-border-color);
        border-radius: var(--control-radius);
        box-sizing: border-box; /* include padding and border */
        color: var(--text-color);
      }
      input[type='text'] {
        padding: 2px 4px;
      }
      input[type='checkbox'] {
        vertical-align: bottom; /* prevent checkbox from being too high */
      }
      select {
        padding: 2px;
        margin-right: var(--margin);
      }
      textarea {
        padding: 4px;
      }

      label:first-child {
        display: inline-block;
        min-width: 50px;
      }

      .form-row {
        margin-bottom: var(--margin);
      }
      .form-text-fields-table {
        background-color: var(--form-text-fields-table-bg-color);
        border: solid 1px var(--table-border-color);
        border-radius: var(--box-radius);
        display: none;
        padding: 2px;
      }
      .form-text-fields-table td:first-child {
        font-family: monospace;
        padding-right: var(--margin);
        vertical-align: top;
      }
      .form-text-fields-table.visible {
        display: table;
      }
      .form-example {
        display: inline-block;
        opacity: 0.5;
        padding-bottom: 3px;
        text-decoration: underline dotted;
      }

      #title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      #title svg {
        height: 20px;
        margin: 2px 4px 2px 2px;
        vertical-align: bottom;
        width: 28.2px;
      }
      @media (prefers-color-scheme: dark) {
        #title svg {
          filter: drop-shadow(0 0 1px #fffa); /* add light glow */
        }
      }
      #version {
        font-size: 12px;
        font-weight: normal;
        opacity: 0.5;
      }

      #form-online-section {
        margin-bottom: calc(2 * var(--margin));
      }
      #form-online-url-input {
        max-width: 100%;
        width: 600px;
      }
      #form-online-country-input {
        margin-left: var(--margin);
        max-width: 100%;
        width: 2.5em;
      }
      #form-text-fields-input {
        display: block;
        font-family: monospace;
        max-width: 100%;
        padding-top: 4px;
        width: 600px;
      }
      #form-text-set-textarea {
        display: block;
        max-width: 100%;
        height: 80px;
        width: 600px;
      }

      #form-text-input-row {
        position: relative;
      }
      #form-text-input-textarea {
        display: block;
        height: 300px;
        max-width: 100%;
        width: 800px;
      }
      #form-text-input-file-input {
        display: none;
      }
      #form-text-input-file-button {
        left: var(--margin);
        position: absolute;
        bottom: 8px;
      }
      #form-text-input-file-button.hidden {
        display: none;
      }

      #form-permalink {
        margin-left: var(--margin);
        opacity: 0.8;
        text-decoration: underline dotted;
      }

      #form-error-div {
        background-color: var(--form-error-bg-color);
        border: solid 1px var(--form-error-border-color);
        border-radius: var(--box-radius);
        display: none;
        margin-bottom: var(--margin);
        padding: 2px 4px;
      }
      #form-error-div.visible {
        display: inline-block;
      }
    </style>
    <!-- end form CSS -->
    {{- end}}
  </head>
  <body>
    {{- if not .Edits}}
    <!-- form HTML -->
    <h1 id="title">
      {{.IconSVG}} yambs (Yet Another MusicBrainz Seeder)
      <!-- prettier-ignore -->
      {{if .Version}}<span id="version">{{.Version}}</span>{{end}}
    </h1>

    <div>
      <p>
        This is a tool for seeding
        <a href="https://musicbrainz.org/" target="_blank">MusicBrainz</a>
        edits. For more information, see the
        <a href="https://github.com/derat/yambs" target="_blank">repository</a>.
      </p>

      <div class="form-row">
        <label for="form-source-select">Source:</label>
        <select id="form-source-select">
          <option value="text">Text</option>
          <option value="online">URL (Bandcamp, Qobuz, Tidal)</option>
        </select>
      </div>

      <div id="form-online-section" class="section">
        <div class="form-row">
          <label for="form-online-url-input">URL:</label>
          <input
            id="form-online-url-input"
            type="text"
            placeholder="https://example.bandcamp.com/album/some-album"
          />
        </div>
        <div class="form-row">
          <label
            for="form-online-country-input"
            title="Some albums are only available in certain countries"
          >
            Country code for Tidal API:
          </label>
          <input id="form-online-country-input" type="text" maxlength="2" placeholder="US" />
        </div>
        <div class="form-row">
          <input id="form-online-extract-artists-checkbox" type="checkbox" />
          <label
            for="form-online-extract-artists-checkbox"
            title='e.g. "Artist 1 & Artist 2 - Track Title"'
          >
            Extract artist names from track titles in Bandcamp pages
          </label>
        </div>
      </div>

      <div id="form-text-section" class="section">
        <div class="form-row">
          <label for="form-text-format-select">Format:</label>
          <select id="form-text-format-select">
            <option value="csv">CSV</option>
            <option value="tsv">TSV</option>
            <option value="keyval">key=value</option>
          </select>
          <label for="form-text-type-select">Type:</label>
          <select id="form-text-type-select">
            {{- range .TypeInfo}}
            <option value="{{.Type}}">{{.Name}}</option>
            {{- end}}
          </select>
          <button id="form-text-toggle-fields-button">Show available fields</button>
        </div>

        <div class="form-row">
          {{- range .TypeInfo}}
          <table id="form-text-{{.Type}}-fields-table" class="form-text-fields-table">
            {{- range .Fields}}
            <tr>
              <td>{{.Name}}</td>
              <td>{{.Desc}}</td>
            </tr>
            {{- end}}
          </table>
          {{- end}}
        </div>

        <!-- These inputs are only used for CSV and TSV input. -->
        <div id="form-text-csv-tsv-section" class="section">
          <div class="form-row">
            <label for="form-text-set-textarea">
              Values to set on all entities ("field=value" lines):
              <span id="form-text-set-example" class="form-example">example</span>
            </label>
            <textarea id="form-text-set-textarea"></textarea>
          </div>
          <div class="form-row">
            <label for="form-text-fields-input">
              Input fields (comma-separated list):
              <span id="form-text-fields-example" class="form-example">example</span>
            </label>
            <input id="form-text-fields-input" type="text" />
          </div>
        </div>

        <div id="form-text-input-row" class="form-row">
          <label for="form-text-input-textarea">
            Input (<span id="form-text-input-format"></span>):
            <span id="form-text-input-example" class="form-example">example</span>
          </label>
          <textarea id="form-text-input-textarea"></textarea>
          <input id="form-text-input-file-input" type="file" accept=".csv,.tsv,.txt" />
          <button id="form-text-input-file-button">Load file…</button>
        </div>
      </div>

      <div class="button-row">
        <button id="form-generate-button">Generate edits</button>
        <button id="form-clear-button">Clear</button>
        <a id="form-permalink" title="Bookmark to autofill fields with current values" href="#">
          Permalink
        </a>
      </div>
      <div id="form-error-div"></div>
    </div>
    <!-- end form HTML -->
    {{- end}}

    <div id="edit-section" class="section">
      <h2>Seeded MusicBrainz edits</h2>
      <table id="edit-table">
        <thead>
          <tr>
            <th><input id="edit-header-checkbox" type="checkbox" /></th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="button-row">
        <button id="edit-open-all-button">Open all</button>
        <button id="edit-open-selected-button">Open selected</button>
      </div>
    </div>

    <div id="edit-opening-overlay">Opening edit…</div>
  </body>

  <!-- generic JS -->
  <script>
    const $ = (id) => document.getElementById(id);

    function createElement(type, parentElement = null, className = null, text = null) {
      const element = document.createElement(type);
      if (parentElement) parentElement.appendChild(element);
      if (className) element.className = className;
      if (text || text === '') element.appendChild(document.createTextNode(text));
      return element;
    }
  </script>
  <!-- end generic JS -->

  <!-- form JS -->
  {{- if not .Edits}}
  <script>
    // This seems to confuse Prettier unless it's in its own script element.
    const formTypes = [
      {{- range .TypeInfo}}
      {{.Type}},
      {{- end}}
    ];
    const formSetExamples = {
      {{- range .TypeInfo}}
      {{.Type}}: {{.SetExample}},
      {{- end}}
    };
    const formFieldsExamples = {
      {{- range .TypeInfo}}
      {{.Type}}: {{.FieldsExample}},
      {{- end}}
    };
    const formInputExamples = {
      {{- range .TypeInfo}}
      {{.Type}}: {
        {{- range $format, $text := .InputExamples}}
        {{$format}}: {{$text}},
        {{- end}}
      },
      {{- end}}
    };
  </script>
  <script>
    const uiStateKey = 'uiState';
    const formSourceSelect = $('form-source-select');
    const formOnlineUrlInput = $('form-online-url-input');
    const formOnlineCountryInput = $('form-online-country-input');
    const formOnlineExtractArtistsCheckbox = $('form-online-extract-artists-checkbox');
    const formTextFormatSelect = $('form-text-format-select');
    const formTextTypeSelect = $('form-text-type-select');
    const formTextCsvTsvSection = $('form-text-csv-tsv-section');
    const formTextToggleFieldsButton = $('form-text-toggle-fields-button');
    const formTextSetExample = $('form-text-set-example');
    const formTextSetTextarea = $('form-text-set-textarea');
    const formTextFieldsExample = $('form-text-fields-example');
    const formTextFieldsInput = $('form-text-fields-input');
    const formTextInputFormat = $('form-text-input-format');
    const formTextInputExample = $('form-text-input-example');
    const formTextInputTextarea = $('form-text-input-textarea');
    const formTextInputFileInput = $('form-text-input-file-input');
    const formTextInputFileButton = $('form-text-input-file-button');
    const formGenButton = $('form-generate-button');
    const formClearButton = $('form-clear-button');
    const formPermalink = $('form-permalink');
    const formErrorDiv = $('form-error-div');
    let formTextFieldsTableShown = false;

    // Updates the state of form-related elements.
    function updateFormUI(save = true) {
      const selSource = formSourceSelect.value;
      for (const source of ['online', 'text']) {
        $(`form-${source}-section`).classList.toggle('visible', source === selSource);
      }

      const selType = formTextTypeSelect.value;
      for (const type of formTypes) {
        const visible = formTextFieldsTableShown && type === selType;
        $(`form-text-${type}-fields-table`).classList.toggle('visible', visible);
      }
      formTextToggleFieldsButton.innerText =
        (formTextFieldsTableShown ? 'Hide' : 'Show') + ' available fields';

      const selFormat = formTextFormatSelect.value;
      formTextCsvTsvSection.classList.toggle('visible', selFormat !== 'keyval');

      switch (selFormat) {
        case 'csv':
          formTextInputFormat.innerText = 'lines of comma-separated values';
          break;
        case 'keyval':
          formTextInputFormat.innerText = '"field=value" lines';
          break;
        case 'tsv':
          formTextInputFormat.innerText = 'lines of tab-separated values';
          break;
      }

      formTextSetExample.title = formSetExamples[selType] || '';
      formTextFieldsExample.title = formFieldsExamples[selType] || '';
      formTextInputExample.title = (formInputExamples[selType] || {})[selFormat] || '';

      // Save the current state to localStorage.
      if (save) {
        localStorage.setItem(
          uiStateKey,
          JSON.stringify({
            source: selSource,
            textFormat: selFormat,
            textType: selType,
          })
        );
      }
      updatePermalink();
      updateGenButton();
    }

    // Updates the permalink's URL to reflect the UI's current state.
    function updatePermalink() {
      // These property names need to match the ones in updateFormUI() and restoreFormUI().
      const state = { source: formSourceSelect.value };

      // Only include state relevant to the selected source.
      const save = (k, v) => v !== '' && (state[k] = v);
      if (formSourceSelect.value === 'online') {
        if (formOnlineExtractArtistsCheckbox.checked) state.onlineExtractArtists = '1';
        save('onlineCountry', formOnlineCountryInput.value);
      } else if (formSourceSelect.value === 'text') {
        state.textFormat = formTextFormatSelect.value;
        state.textType = formTextTypeSelect.value;
        save('textSet', formTextSetTextarea.value);
        save('textFields', formTextFieldsInput.value);
      }

      formPermalink.href = '#' + new URLSearchParams(state).toString();
    }

    // Restores the state of the form UI from localStorage and the URL hash.
    function restoreFormUI() {
      const state = { textType: 'recording' };
      try {
        Object.assign(state, JSON.parse(localStorage.getItem(uiStateKey) || '{}'));
      } catch (e) {
        console.error(`Failed loading UI state from localStorage: ${e}`);
      }

      // Layer the state from the URL hash on top of localStorage.
      const hash = window.location.hash.slice(1); // remove '#'
      Object.assign(state, Object.fromEntries([...new URLSearchParams(hash)]));

      // Remove the hash from the URL: I don't want to display a stale hash after the user modifies
      // the fields, but I also think it'll be distracting and annoying if the hash is dynamically
      // updated as the user types. Setting window.location.hash to an empty string leaves '#'
      // hanging around, so use the history API instead.
      history.replaceState('', document.title, window.location.pathname + window.location.search);

      const setSelect = (sel, val) => {
        if (val === undefined) return;
        sel.value = val;
        if (sel.selectedIndex < 0) sel.selectedIndex = 0;
      };
      setSelect(formSourceSelect, state.source);
      setSelect(formTextFormatSelect, state.textFormat);
      setSelect(formTextTypeSelect, state.textType);

      const setText = (el, val) => val !== undefined && (el.value = val);
      setText(formOnlineCountryInput, state.onlineCountry);
      setText(formTextSetTextarea, state.textSet);
      setText(formTextFieldsInput, state.textFields);

      formOnlineExtractArtistsCheckbox.checked = state.onlineExtractArtists === '1';

      updateFormUI(false /* save */);

      // Autofocus the URL input to make it easy to paste URLs.
      // I'm doing this from JS since the 'autofocus' attribute doesn't work reliably
      // (possibly since the input may not be visible when the page is first loaded).
      if (formSourceSelect.value === 'online') formOnlineUrlInput.focus();
    }

    // Updates |formGenButton|'s disabled state based on whether input has been provided.
    function updateGenButton() {
      const src = formSourceSelect.value;
      formGenButton.disabled =
        (src === 'online' && formOnlineUrlInput.value.trim() === '') ||
        (src === 'text' && formTextInputTextarea.value.trim() === '');
    }

    // Clears form fields. Select elements are left unchanged.
    function clearFormFields() {
      formOnlineUrlInput.value = '';
      formOnlineCountryInput.value = '';
      formOnlineExtractArtistsCheckbox.checked = false;
      formTextFieldsInput.value = '';
      formTextSetTextarea.value = '';
      setFormTextInputTextareaValue('');
      updatePermalink();
      updateGenButton();
    }

    // Sets |formTextInputFileInput|'s value.
    function setFormTextInputTextareaValue(value) {
      formTextInputTextarea.value = value;
      // Setting the value doesn't seem to trigger an input event
      // (at least on Chrome 106), so dispatch one manually.
      formTextInputTextarea.dispatchEvent(new Event('input'));
    }

    // Displays or hides an error message.
    function showFormError(msg) {
      formErrorDiv.innerText = msg;
      formErrorDiv.classList.add('visible');
      window.setTimeout(() => formErrorDiv.scrollIntoView(false /* alignToTop */));
    }
    function hideFormError() {
      formErrorDiv.classList.remove('visible');
    }

    // Sends form data to the server and returns a promise for an array of objects that can be
    // passed to showEdits().
    function generateEdits() {
      const body = new FormData();
      switch (formSourceSelect.value) {
        case 'text':
          body.set('source', 'text');
          body.set('type', formTextTypeSelect.value);

          const format = formTextFormatSelect.value;
          body.set('format', format);

          // Set commands and the field list aren't used for the keyval format.
          if (['csv', 'tsv'].includes(format)) {
            // Trim whitespace at the beginning of lines and then drop empty lines.
            // Also unescape backslash sequences so it's possible to supply multiline edit notes.
            formTextSetTextarea.value
              .split('\n')
              .map((v) => v.trimStart())
              .filter(Boolean)
              .map((v) =>
                v.replace(/\\./g, (m) => (m[1] === 'n' ? '\n' : m[1] === 't' ? '\t' : m[1]))
              )
              .forEach((v) => body.append('set', v));

            const fields = formTextFieldsInput.value.trim();
            if (fields !== '') fields.split(',').forEach((v) => body.append('field', v.trim()));
          }

          // Drop input lines that are empty or only contain whitespace,
          // but preserve whitespace at the beginning or ends of lines.
          // TODO: Maybe trim whitespace at the beginning of keyval lines?
          body.set(
            'input',
            formTextInputTextarea.value
              .split('\n')
              .filter((v) => v.trim() !== '')
              .join('\n')
          );

          break;

        case 'online':
          // TODO: Let the user supply set commands and pass them as a "set" param, maybe.
          // We'd also need to add a "Show available fields" button in the Online
          // section that displays the fields for releases.
          body.set('source', 'online');
          body.set('url', formOnlineUrlInput.value.trim());
          body.set('country', formOnlineCountryInput.value.trim().toUpperCase());
          if (formOnlineExtractArtistsCheckbox.checked) body.set('extractTrackArtists', '1');
          break;
      }

      return fetch('edits', { method: 'post', body }).then((res) => {
        if (res.ok) return res.json();
        return res.text().then((text) => {
          throw new Error(text);
        });
      });
    }

    // Initialize the form.
    (() => {
      restoreFormUI();
      formSourceSelect.addEventListener('change', updateFormUI);
      formTextFormatSelect.addEventListener('change', updateFormUI);
      formTextTypeSelect.addEventListener('change', updateFormUI);

      // TODO: It'd be nicer to not update the permalink on each keystroke,
      // but 'change' only fires on blur, so we might end up with a stale URL
      // if the user types and then immediately moves the pointer to the link.
      formOnlineCountryInput.addEventListener('input', updatePermalink);
      formOnlineExtractArtistsCheckbox.addEventListener('input', updatePermalink);
      formTextSetTextarea.addEventListener('input', updatePermalink);
      formTextFieldsInput.addEventListener('input', updatePermalink);

      formOnlineUrlInput.addEventListener('input', updateGenButton);
      formTextInputTextarea.addEventListener('input', updateGenButton);

      formTextToggleFieldsButton.addEventListener('click', () => {
        formTextFieldsTableShown = !formTextFieldsTableShown;
        updateFormUI();
      });

      // Only show the file button when the input textarea is empty.
      formTextInputTextarea.addEventListener('input', () => {
        const empty = !formTextInputTextarea.value.length;
        formTextInputFileButton.classList.toggle('hidden', !empty);
      });

      // Make the button trigger the hidden file input.
      formTextInputFileButton.addEventListener('click', () => {
        formTextInputFileInput.click();
      });
      formTextInputFileInput.addEventListener('input', () => {
        const files = formTextInputFileInput.files;
        if (!files.length) return;
        const fr = new FileReader();
        fr.addEventListener('load', () => {
          setFormTextInputTextareaValue(fr.result.trimRight('\n'));
          // Clear the file input so its 'input' event will fire again
          // if the same file is selected later.
          formTextInputFileInput.value = null;
        });
        fr.readAsText(files[0]);
      });

      // Let the user submit URLs by pressing Enter.
      for (const el of [formOnlineUrlInput, formOnlineCountryInput]) {
        el.addEventListener('keypress', (e) => {
          if (e.key === 'Enter') {
            formGenButton.click();
            el.blur();
          }
        });
      }

      formGenButton.addEventListener('click', () => {
        const origText = formGenButton.innerText;
        formGenButton.disabled = true;
        formGenButton.innerText = 'Generating…';
        hideFormError();

        generateEdits()
          .then((edits) => {
            console.log(`Got ${edits.length} edit(s)`);
            showEdits(edits);
          })
          .catch((err) => {
            showFormError(err.message);
          })
          .finally(() => {
            formGenButton.disabled = false;
            formGenButton.innerText = origText;
          });
      });

      formClearButton.addEventListener('click', () => {
        clearFormFields();
        hideFormError();
        showEdits([]);

        // Make it easy to paste another URL.
        if (formSourceSelect.value === 'online') formOnlineUrlInput.focus();
      });
    })();
  </script>
  <!-- end form JS -->
  {{- end}}

  <!-- edit JS -->
  <script>
    // This seems to confuse Prettier unless it's in its own script element.
    const initialEdits = [
      {{- range .Edits}}
      {
        desc: {{.Desc}},
        url: {{.URL}},
        params: [
          {{- range .Params}}
          {name: {{.Name}}, value: {{.Value}}},
          {{- end}}
        ],
      },
      {{- end}}
    ];
  </script>
  <script>
    const editPreselect = 10; // number of checkboxes to automatically select
    const editSection = $('edit-section');
    const editHeaderCheckbox = $('edit-header-checkbox');
    const editOpenAllButton = $('edit-open-all-button');
    const editOpenSelButton = $('edit-open-selected-button');
    const editTable = $('edit-table');
    const editCheckboxes = [];
    const editForms = []; // null for GETs
    const editLinks = [];
    let editLastClickIndex = -1; // index of last-clicked edit checkbox

    // Returns a 2-element array with the starting and ending index of the selection range.
    // If there isn't a single range, null is returned.
    function getEditSelectionRange() {
      let start = -1;
      let end = -1;
      for (const [idx, cb] of editCheckboxes.entries()) {
        if (!cb.checked) continue;
        if (start < 0) start = end = idx;
        else if (end === idx - 1) end = idx;
        else return null; // not a continuous range
      }
      return start < 0 ? null : [start, end];
    }

    // Returns the number of selected edit rows.
    const getNumSelectedEdits = () => editCheckboxes.filter((cb) => cb.checked).length;

    // If a continuous range of n rows is selected, advances the selection to the next n rows.
    function advanceEditSelection() {
      const range = getEditSelectionRange();
      if (!range || range[1] === editLinks.length - 1) return;

      const start = range[1] + 1;
      const end = start + (range[1] - range[0]);
      editCheckboxes.forEach((cb, idx) => (cb.checked = idx >= start && idx <= end));
      updateEditUI();
    }

    // Updates edit header checkbox state and buttons for the currently-checked checkboxes.
    function updateEditUI() {
      editOpenAllButton.disabled = editLinks.length === 0;

      // Update the "Open selected" button's text and disabled state.
      const range = getEditSelectionRange();
      editOpenSelButton.innerText =
        range && range[1] < editLinks.length - 1 ? 'Open selected and advance' : 'Open selected';
      editOpenSelButton.disabled = getNumSelectedEdits() === 0;

      // Make the header checkbox checked if any rows are selected, and translucent if only some of
      // the rows are selected.
      const count = getNumSelectedEdits();
      editHeaderCheckbox.checked = count > 0;
      editHeaderCheckbox.classList.toggle('partial', count > 0 && count < editCheckboxes.length);
    }

    // Displays the supplied array of objects describing edits:
    // {
    //   desc: 'Human-readable description',
    //   url: 'https://www.example.org',          // includes params if GET is okay
    //   params: [{name: 'k', value: 'v1'}, ...], // if non-empty, POST is needed
    // }
    function showEdits(edits) {
      if (edits.length) {
        editSection.classList.add('visible');
        window.setTimeout(() => {
          editSection.scrollIntoView(false /* alignToTop */);
          editOpenAllButton.focus();
        });
      } else {
        editSection.classList.remove('visible');
      }

      const tbody = editTable.querySelector('tbody');
      while (tbody.firstChild) tbody.removeChild(tbody.lastChild);
      editCheckboxes.length = 0;
      editForms.length = 0;
      editLinks.length = 0;
      editLastClickIndex = -1;

      // Add a row for each edit.
      for (const [idx, edit] of edits.entries()) {
        const tr = createElement('tr', tbody);

        // Add a column containing a checkbox.
        const td1 = createElement('td', tr);
        const cb = createElement('input', td1);
        editCheckboxes.push(cb);
        cb.type = 'checkbox';
        cb.addEventListener('click', (e) => {
          // On shift-click, update the range starting at the last-clicked checkbox.
          if (e.shiftKey && editLastClickIndex >= 0 && editLastClickIndex != idx) {
            const checked = cb.checked;
            const start = Math.min(editLastClickIndex, idx);
            const end = Math.max(editLastClickIndex, idx);
            for (let i = start; i <= end; i++) editCheckboxes[i].checked = checked;
          }
          editLastClickIndex = idx;
          updateEditUI();
        });
        if (idx < editPreselect) cb.checked = true;

        // Add a second column containing a link.
        // If this edit requires a POST, also add a form.
        const td2 = createElement('td', tr);
        if (edit.params && edit.params.length) {
          const form = createElement('form', td2);
          editForms.push(form);
          form.action = edit.url;
          form.method = 'post';
          form.target = '_blank';
          for (const p of edit.params) {
            const input = createElement('input', form);
            input.type = 'hidden';
            input.name = p.name;
            input.value = p.value;
          }
        } else {
          editForms.push(null);
        }

        const link = createElement('a', td2, null, edit.desc);
        editLinks.push(link);
        if (!edit.params || !edit.params.length) link.href = edit.url;
        link.target = '_blank';
        link.addEventListener('click', (e) => {
          // If there's a form (because this edit requires a POST), submit it.
          // Otherwise, just let the link perform its default action.
          const f = editForms[idx];
          if (f) {
            f.submit();
            e.preventDefault();
          }
        });
      }

      updateEditUI();
    }

    // Initialize edit-related elements.
    (() => {
      editHeaderCheckbox.addEventListener('click', () => {
        editLastClickIndex = -1;
        const empty = getNumSelectedEdits() === 0;
        editCheckboxes.forEach((cb) => (cb.checked = empty));
        updateEditUI();
      });
      editOpenSelButton.addEventListener('click', () => {
        editLinks.filter((_, i) => editCheckboxes[i].checked).forEach((a) => a.click());
        advanceEditSelection();
      });
      editOpenAllButton.addEventListener('click', () => {
        for (const a of editLinks) a.click();
      });

      showEdits(initialEdits);
      updateEditUI();

      // If there's a single edit, just open it in the current window.
      if (editLinks.length === 1) {
        if (editForms[0]) editForms[0].target = '_self';
        editLinks[0].target = '_self';
        editLinks[0].click();
        $('edit-opening-overlay').classList.add('visible');
      }
    })();
  </script>
  <!-- end edit JS -->
</html>
